.slider {
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}
  
.slide {
    width: 600px;
    height: 300px;
    position: absolute;
}

.slide.moving{
    transition: 0.3s ease;
    transform: translate(-100%, 0);
}

.slide.moving.current {
    transform: translate(0, 0);
}

.slide.moving.current ~ .slide {
    transform: translate(100%, 0);
}

.slide.fading{
    opacity: 0;
    transition: opacity 0.3s;
}

.slide.fading.current {
    opacity: 1;
}