.container {
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 10px;
}

.sound-div {
    width: 100px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-div.active {
    background-color: orange;
    transition: background-color 0.05s;
}

.recordings-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recordings-container div {
    border: 1px solid black;
    background-color: #eee;
    padding: 10px;
    display: flex;
    gap: 10px;
}